openapi: 3.1.0

info:
  title: マイナビ転職 (Mynavi Tenshoku) Job Search
  version: "1.0.0"
  description: |
    Client-side API specification for マイナビ転職's public job-search surface
    at https://tenshoku.mynavi.jp. Reverse-engineered from live traffic
    (2026-07-18); Mynavi publishes no official API. Both endpoints are
    **server-side rendered HTML** — there is no JSON search API, but the job
    detail page embeds a complete schema.org `JobPosting` JSON-LD block, so
    detail parsing is structured-data extraction, not CSS-selector scraping.

    ## Architecture

    - `/list/…/` — the national keyword-search surface. Filters are **URL path
      segments**, not query parameters (a path-token DSL, same family as
      Oracle's finder DSL but simpler). Returns a full page of up to 50
      job "cassettes".
    - `/jobinfo-{a}-{b}-{c}-{d}/` — the job detail page carrying the JSON-LD.

    No authentication, no cookies, no fingerprinting gate: a bare `curl` with
    a browser User-Agent succeeds on both endpoints, and repeated requests
    during recon never hit a rate limit or challenge page. robots.txt allows
    both paths (its Disallow list covers account/entry/ajax paths only).

    ## The path-token DSL

    Segments verified live, combinable in **any order** under `/list/`:

    - `kw{keywords}` — URL-encoded free text. Multiple terms separated by
      spaces (`%20`) AND together; Japanese and Latin terms both work.
      A literal `/` in the keyword cannot be expressed — `%2F` is HTTP 404.
    - `min{NNNN}` — annual-salary floor (初年度年収) in 万円, zero-padded to
      4 digits. Only the search form's fixed steps are valid: 0150–0550 in
      50s, 0600, 0650, 0700, then 0800–1500 in 100s. Off-step values
      (e.g. `min0720`) are HTTP 404.
    - `pg{N}` — 1-based page number. Page 1 is expressed by omitting the
      segment (the site's own pager links do the same). Deep pagination is
      real (pg250 confirmed in an earlier survey); a page past the last one
      still returns HTTP 200 with zero cassettes.

    Unknown `/list/` segments are a clean HTTP 404 — with one trap: an
    unknown path *before* `/list/` (e.g. `/tokyo/list/kwPython/`) is HTTP
    200 but silently serves an **unfiltered legacy page in Shift_JIS**
    (canonical URL pointing at the site root, all ~55k jobs, different
    markup). Never build URLs with a prefix before `/list/`.

    ## Out of scope (verified, deliberately not implemented)

    - **Regional editions** (`/hokkaido/list/…`, `/shutoken/list/p13/…`, 12
      region slugs with prefecture `p{NN}` / city `c{NNNNN}` sub-tokens):
      real and functional, but they render a *different, legacy template*
      (`section.recruit` markup) that would need a second parser. Location
      terms in `kw` (e.g. `kw東京`) are the supported alternative.
    - **Sort** (`?soff=ficf|pv`): present in the results page's sort
      pulldown markup, but a plain GET with the parameter returns the
      identical default order (confirmed by comparing the full first page),
      so it is not exposed. Sorting presumably needs the POST-session flow
      the browser UI uses.
    - **The `/search/list/` POST form** (structured filters: employment
      status, holidays, features, income via `srIncomeMin`, …): responds 302
      to a session-backed flow; the path-token GET surface above is the
      stable, cacheable, robots-allowed one.

    ## Key behaviors

    - **Page size is 50** on a full page; the total lives in
      `p.result__num > em` (rendered twice per page, top and bottom — parse
      the first). A zero-hit search is HTTP 200, count `0`, zero cassettes,
      and no recommend/PR cards are injected in their place.
    - **Encoding**: the `/list/` template and detail pages are UTF-8. Only
      the out-of-scope legacy/regional pages are Shift_JIS.
    - **Job IDs**: the detail path's four hyphen-separated numbers (e.g.
      `348855-1-29-1`) are the canonical ID; search-card links carry it in
      their `href`. Card links may carry tracking query strings — strip
      them. Postings expire: `validThrough` is typically ~4 weeks after
      `datePosted`, and an expired/unknown ID is a clean HTTP 404.

servers:
  - url: https://tenshoku.mynavi.jp
    description: マイナビ転職 (public, unauthenticated)

paths:
  /list/{pathQuery}:
    get:
      operationId: searchJobs
      summary: Search job listings (SSR HTML, path-token DSL)
      description: |
        `{pathQuery}` stands for zero or more of the DSL segments described
        in the info block (`kw{keywords}`, `min{NNNN}`, `pg{N}`), each
        ending with `/`, in any order — e.g.
        `/list/min0700/kwPython%20AWS/pg2/`. A bare `/list/` (no segments)
        is the unfiltered all-jobs listing and works the same way.
      parameters:
        - name: pathQuery
          in: path
          required: true
          description: |
            Slash-joined DSL segments. Not a real single path parameter —
            OpenAPI cannot express a variable number of path segments, so
            this spec models the whole tail as one token; the client builds
            it by joining the individual segments.
          schema:
            type: string
          example: "min0700/kwPython%20AWS/pg2"
      responses:
        "200":
          description: |
            Full SSR HTML page (UTF-8). Relevant markup, all verified against
            the captured fixture:
            - Total hits: `p.result__num > em` (first occurrence), a plain
              integer with no thousands separator.
            - Job cassettes: `div.cassetteRecruit__content` (50 per full
              page). Per cassette:
              - `h3.cassetteRecruit__name` — "会社名 | キャッチコピー"
                (company name, a literal ` | `, then the employer's
                catch-copy tagline; split on the first ` | `).
              - `p.cassetteRecruit__copy > a` — job title text; `href`
                carries the canonical `jobinfo-{id}` path (plus tracking
                query params on some page variants).
              - `li.cassetteRecruit__attributeLabel > span` — labels: first
                an employment-status label (`span.labelEmploymentStatus`,
                e.g. 正社員), then condition tags (`span.labelCondition`,
                e.g. 転勤なし, リモートワーク可, 学歴不問).
              - `table.tableCondition` rows pairing `th` headers (仕事内容 /
                対象となる方 / 勤務地 / 給与 / 初年度年収) with `td` values;
                free text, ellipsis-truncated by the server.
              - `p.cassetteRecruit__updateDate span` — 情報更新日
                (YYYY/MM/DD); `p.cassetteRecruit__endDate span` —
                掲載終了予定日 (YYYY/MM/DD).
          content:
            text/html:
              schema:
                type: string
                description: Full SSR HTML search-results page.
        "404":
          description: |
            Unknown DSL segment, off-step `min` value, or a keyword
            containing an encoded `/`.

  /jobinfo-{jobId}/:
    get:
      operationId: getJobDetail
      summary: Get full job posting (SSR HTML with JobPosting JSON-LD)
      description: |
        Returns the SSR job detail page. Parse the
        `<script type="application/ld+json">` block whose `@type` is
        `JobPosting` (a second JSON-LD block on the page is a
        `BreadcrumbList` — select by type, not position).
      parameters:
        - name: jobId
          in: path
          required: true
          description: |
            Four hyphen-separated numbers exactly as they appear in the
            search-card `href` (e.g. `348855-1-29-1`). The first number is
            the employer, the rest disambiguate the posting; treat the whole
            string as opaque.
          schema:
            type: string
            pattern: '^\d+-\d+-\d+-\d+$'
          example: "348855-1-29-1"
      responses:
        "200":
          description: |
            Full SSR HTML page (UTF-8). The JobPosting JSON-LD (compact,
            non-pretty-printed) carries, per the captured fixture:
            - `title`, `description` (HTML string; some employers'
              double-escaped `&amp;lt;br&amp;gt;` artifacts appear inside
              section-divider lines)
            - `hiringOrganization.name` and `.sameAs` (company site URL)
            - `employmentType` (schema.org value, e.g. `FULL_TIME`)
            - `industry`, `occupationalCategory` (Japanese, `／`-separated)
            - `datePosted`, `validThrough` (YYYY-MM-DD)
            - `jobLocation[]` — one `Place` per prefecture with
              `address.addressRegion` (e.g. 東京都) and sometimes
              `.addressLocality` (e.g. 渋谷区); nationwide-remote postings
              list all 47 prefectures
            - `baseSalary.value.minValue`/`.maxValue` (JPY, numeric strings)
              with `unitText` (e.g. `YEAR`)
            - `experienceRequirements`, `workHours`, `jobBenefits` (HTML
              strings)
            - `url` — the posting's canonical URL
          content:
            text/html:
              schema:
                type: string
                description: Full SSR HTML job detail page.
        "404":
          description: Unknown or expired job ID (clean 404, no soft fallback).
